@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Mono", serif;
    

}

.nav-container{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    background-color: #adadad;
    
}
.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    
}
.menu{
    display: flex;
    list-style: none;
    margin-right: 1rem;
}
.menu li{
    margin-left: 2rem;
    
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 1rem 0.5rem;
  
}


.logo{
    margin-left: 1rem;
}
.logo a{
    font-size: 2rem;
}
.logo a img{
    width: 40px;
    height: 40px;
}

/* hamberger-menu */
.ham-menu{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f8f8f8;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  
@media screen and (min-width: 449px) {
    .ham-menu{
        display: none;
    }
    
}
@media screen and (max-width:449px) {
    .menu{
        display: none;
        
    }
    
    .nav-con{
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        width: 100%;
        
    }
    .menu li{
        margin: 1rem ;
        padding: 1rem 0.5rem;
        transition: 0.3s;
    }
    .menu li:hover{
        background-color: #2e2c2c;
        border-radius: 5px;
    }
    .menu-active{
        display: block ;
      }
}
@media screen and (min-width:450px){
    .nav-con{
        padding: 1rem;
        height: auto;
        
    }
    
    .menu li a:hover{
        background-color: #424443;
        padding: 1rem 0.5rem;
        box-shadow: 6px 3px;
        border-radius: 5px;
    }
    .menu li a:active{
        background-color: 42444;
        box-shadow: 3px 3px #666;
        transform: translateY(4px);
    }
}
/* bg-container */
.container-grid{
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    
}

.bg-img{
    width:100%;
    height: 350px;
    
    background-image: url(https://images.unsplash.com/photo-1559523182-a284c3fb7cff?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: grayscale(40%);
    background-color: #ffffff;
    background-position: center center ;
    background-repeat:no-repeat;
    background-size:cover;
    
    
}
.detail{
    text-align: center;
    margin-top: 8rem;
    
     
}
.detail h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 9px 6px black;
    cursor: pointer;
    margin-bottom: 5rem;
}
.bg-detail{
    background-color: #2e2c2c;
    padding: 2rem;
    filter: opacity(75%);
}
.detail p{
    color: rgb(255, 254, 254);
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 6px 3px black;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .detail h1{
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: bolder;
        text-shadow: 9px 6px black;
        cursor: pointer;
        margin-bottom: 8.4rem;
    }
    .detail p{
        /* margin-top: 4rem; */
        color: rgb(255, 254, 254);
        font-size: 28px;
        font-weight: bolder;
        text-shadow: 6px 3px black;
        cursor: pointer;
    }
}
@media screen and (max-width:425px){
    
    .detail h1{
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: bolder;
        text-shadow: 9px 6px black;
        cursor: pointer;
        margin-bottom: 9.9rem;
    }
    .detail p{

        font-size: 20px;
        font-weight: bolder;
        text-shadow: 6px 3px black;
        cursor: pointer;
    }
}
@media screen and (max-width:375px){
    
    .detail h1{
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: bolder;
        text-shadow: 9px 6px black;
        cursor: pointer;
        margin-bottom: 8.3rem;
    }
    .detail p{

        font-size: 20px;
        font-weight: bolder;
        text-shadow: 6px 3px black;
        cursor: pointer;
    }
}

/* content */

.flex-wrap{
    display: flex;
    width: 100%;
   
}
.grid-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
   
    /* flex-wrap: wrap; */
    /* width: 100%; */
    
}
.title{
    text-decoration: none;
    color: white;
   
}.title:hover{
    text-shadow: 3px 4px 10px #151515;
}
.box{
    width: 400px;
    height: 270px;
    position: relative;
    display: flex;
    transform: scale(1.1);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.box:hover{
    transform: scale(1);
    filter: brightness(70%);
    
}

.box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* position: absolute; */
        z-index: -1;
        transform: translate(-50%,-50%);
        top: 0;
        left: 0;
        transition: 0.3s;
   
        animation: slide 20s infinite; 
       
}

@keyframes slide {
    0%{
        transform: translatex(0);
    }
    25%{
        transform: translatex(0);
    }
    30%{
        transform: translatex(-100%);
    }
    50%{
        transform: translatex(-100%);
    }
    55%{
        transform: translatex(-200%);
    }
    75%{
        transform: translatex(-200%);
    }
    80%{
        transform: translatex(-100%);
    }
    90%{
        transform: translatex(-100%);
    }
    100%{
        transform: translatex(0%);
    }
   
}
.content {
   width: 90%;
   height: 100%;
   position: relative;
   margin: 0 auto;
   transition: 0.3s;
   filter: brightness(100%);
   z-index: 1;
   
} 

.text{
    font-size:24px;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    transition: 0.3s;
   
}
@media screen and (max-width:1024px){
    .box{
        width: 100%;
        
    
        
    }
    .grid-img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin: 2rem;
    
    

}
}
@media screen and (max-width:768px){
    
    .grid-img{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        margin: 2rem;
    
    

}
}
@media screen and (max-width:425px){
    
    .grid-img{
        display: grid;
        grid-template-columns: 1fr   ;
        margin: 2rem;
    }

}
@media screen and (max-width:375px){
    
    

}
@media screen and (max-width:320px){
   
    

}
@keyframes autoShow{
    from{
        opacity: 0;
        transform: translateY(100px)scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0)scale(1);
    }
}

/* footer */
footer{
    background-color:#adadad ;
}
.footer_container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.containers-area{
    width: 33%;
    
}

h2{
    font-size: 28px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.containers-area{
    font-size: 22px;
}
.containers-area ul{
   text-align: center;
   
}
.lists{
    padding: 0;
    
}
.lists li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 8px;
    position: relative;
    
    
}
.lists li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left:50% ;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration:.5s ;
}
.lists li:hover::before{
    width: 70px;
}
.social-icons{
    margin-top: 1rem;
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom_bar{
    background-color: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;

}
@media screen and (max-width: 1024px) {
   
    .footer_container {
        width: 1024px;
    }
}
@media screen and (max-width: 768px) {
   
    .footer_container {
        width: 768px;
    }
}
@media screen and (max-width: 425px) {
   
    .footer_container {
        width: 425px;
    }
    .containers-area{
        width: 100%;
    }
    .containers-area hr{
        display: none;
    }
}
@media screen and (max-width: 375px) {
   
    .footer_container {
        width: 375px;
    }
    .containers-area{
        width: 100%;
    }
    .containers-area hr{
        display: none;
    }
}
@media screen and (max-width: 320px) {
   
    .footer_container {
        width: 320px;
    }
    .containers-area{
        width: 100%;
    }
    .containers-area hr{
        display: none;
    }
}